<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
    <head>  
        <meta charset="utf-8">
        <title>XML checker</title>
        <link rel="stylesheet" type="text/css" href="{% static 'xml_reader/css/upload.css' %}">        
    </head> 
    <body>
        <input type="file" id="upload-file" disabled />
        <button id="upload-btn" disabled>Upload</button>
        <img class="loading-img" src="{% static 'xml_reader/img/ajax-loader.gif' %}" />
        
        <div id="file-tmpl" class="file">
            <div class="file-name"></div>
            <div class="info"></div>
        </div>
        
        <div id="uploaded-files"></div>
    
        <script src="{% static 'xml_reader/js/lib/jquery-3.0.0.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'xml_reader/js/lib/underscore.js' %}" type="text/javascript"></script>
        <script src="{% static 'xml_reader/js/lib/backbone.js' %}" type="text/javascript"></script>
        <script src="{% static 'xml_reader/js/upload_view.js' %}" type="text/javascript"></script>
        
        <script>
            $(document).ready(function () {
            	new UploadView({'el': $('body')});
            });
        </script>
    </body>
</html>
