body {
	min-width: 650px;
}

.loading-img {
    display: none;
	position: absolute;
	margin: 3px 0px 0px 50px;
}

#uploaded-files {
	margin-top: 25px;
}

#file-tmpl {
	display: none;
}

.file {
    margin-top: 5px;
}

.file .file-name {
    display: inline-block;
	margin: 0px 30px 0px 0px;
    width: 300px;
}

.file .info {
    display: inline-block;
    width: 300px;
    text-align: right;
}

